@import '../../../../styles/variables';
.tag {
  font-size: 12px;
  border: 1px solid $borderColor;
  color: $textColorSecondary;
  border-radius: 4px;
  padding: 1px 8px;
  width: fit-content;
  line-height: 20px;
  text-transform: uppercase;
  transition: all 250ms ease-in-out;
  cursor: pointer;
  user-select: none;

  &:hover {
    background-color: $textColor;
    color: $sectionBackground;
  }
}

.lowercase {
  text-transform: capitalize;
}
