@import '../../../../styles/variables';
.avatar {
  display: flex;
  .info {
    margin-left: 10px;
    .name {
      font-size: 14px;
      line-height: 22px;
      font-weight: 400;
    }
    .description {
      font-size: 12px;
      line-height: 22px;
      font-weight: 400;
      color: $textColorThird;
    }
  }
}
