@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
$pageBackground: #242424;
$sectionBackground: #141414;
$contentBackground: #1f1f1f;
$textColor: #ffffffd9;
$textColorSecondary: #ffffffa6;
$textColorThird: #ffffff73;
$borderColor: #434343;
$borderColorSecondary: #ffffff1f;
$backColor: #000000;
$buttonBackground: #ffd60a;
$purple: #a379ff;
$buttonBackground2: #ffffff14;
$purple2: #651fff;
$fontRoboto: 'Roboto', sans-serif;
$inputPlaceholderColor: #ffffff4d;
